header h1,
h2 {
  color: white;
  text-align: center;
}

.white {
  color: white;
}

.stars i:hover {
  color: yellow;
}

.stars i {
  color: black;
}

#bgImage {
  background-image: url(https://images4.alphacoders.com/877/thumb-1920-877960.jpg);
  height: 25rem;
  background-size: cover;
  background-position: center;
}
