.movie img {
  max-width: 80%;
  object-fit: cover;

  transition: transform 0.3s, -webkit-transform 0.3s;
  border-radius: 0.5rem;
}

img {
  object-fit: cover;
  max-width: 30%;
}
.movie img:hover {
  z-index: 100;
  position: relative;
  -webkit-transform: scale(1);
  transform: scale(1.1);
  box-shadow: 0 0 9px 1px #000;
  border: 1px solid #e9e9e9;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
    text-align: center;
    margin: 10px 0;
  }
  #bgImage {
    height: 200px;
  }
}
